<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kisusyenni.orgabin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orgabin">
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.report.ReportActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.AuthActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.schedule.form.ScheduleFormActivity"
            android:exported="true"
            android:parentActivityName=".ui.schedule.list.ScheduleActivity"/>
        <activity
            android:name=".ui.schedule.list.ScheduleActivity"
            android:exported="true" />
    </application>

</manifest>